[Unit]
Description=TTMS Django Gunicorn daemon
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/team-task-management-system/backend
Environment=PATH=/var/www/team-task-management-system/backend/venv/bin
ExecStart=/var/www/team-task-management-system/backend/venv/bin/gunicorn -c gunicorn.conf.py config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
